.shape {
    left: 50%;
    top: 50%;
}

.rect {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
}

.velArrow {
    pointer-events: none;
    background-color: blue;
    left: 50%;
    top: 50%; 
    height: 2px;
}

.arrowMid {
    /* left: 50%;
    top: 50%; */
    width: 0px;
    height: 0px;
    /* background-color: blue; */
}

.arrowLeft {
    position: relative;
    width: 30px;
    height: 2px;
    left: calc(100% - 24px);
    top: -11px;
    transform: rotate(225deg);
    background-color: blue;
}

.arrowRight {
    position: relative;
    width: 30px;
    height: 2px;
    left: calc(100% - 24px);
    top: 10px;
    transform: rotate(135deg);
    background-color: blue;
}

body {
    margin: 0px;
    overflow: hidden;
}