.shape {
    left: 50%;
    top: 50%;
}

.rect {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
}

.velArrow {
    pointer-events: none;
    background-color: blue;
    left: 50%;
    top: 50%; 
    height: 2px;
}

.arrowMid {
    /* left: 50%;
    top: 50%; */
    width: 0px;
    height: 0px;
    /* background-color: blue; */
}

.arrowLeft {

}

.arrowRight

body {
    margin: 0px;
    overflow: hidden;
}